.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bgd-color);
  @media screen and (max-width: 479px) {
    width: 480px;
  }

@media screen and (max-width: 1199px) {
  .logo {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
  }
}
}

.container {
  // text-align: left;
}

.footer-blocks {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    // gap: 70px;
  }
}

.footer-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    gap: 165px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.logo-footer {
  color: var(--herobtntext-primbgd-color);
}

.footer-adress {
  display: inline-block;
  width: 231px;
  
  font-style: normal;
  line-height: 1.71;
  color: var(--herobtntext-primbgd-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--btnbgd-linkactive-color);
  }

  @media screen and (max-width: 1199px) {
margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
margin-bottom: 9px;
  }
}

.footer-mail {
  display: inline-block;
  
  @media screen and (max-width: 1199px) {
  margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
  margin-bottom: 9px;
  }
}

.footer-mail,
.footer-tel {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-mail-tel-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--btnbgd-linkactive-color);
  }
}

.address {
  
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.social-title,
.footerForm-title {
  @extend %footer-title;
  @media screen and (min-width: 1200px) {
  text-align: left;
  }
}

.social-list__footer {
  @include socialIconColor(
    rgba(255, 255, 255, 0.1),
    var(--herobtntext-primbgd-color)
  );

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    @include socialIconColor(
      var(--btnbgd-linkactive-color),
      var(--herobtntext-primbgd-color)
    );
  }
}

.social {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
  margin-bottom: 60px;
}

.footerForm-wrapper {
  @media screen and (min-width: 1200px) {
display: flex;
  }
}

.footerForm-input {
  text-align: left;
  height: 50px;

  @media screen and (min-width: 1200px) {
display: flex;
width: 358px;
margin-right: 12px;
  }

  @media screen and (max-width: 1199px) {
width: 450px;
  }
  
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-footer-bgd-color);

  padding: 16px;

  margin-bottom: 20px;
}

.footerForm input[placeholder="E-mail"] {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  @extend %button-submit;
}
