.clients {
  background-color: var(--herobtntext-primbgd-color);
}

.clients-title {
font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;

margin-top: 0;
margin-bottom: 30px;


  // @extend %section-title;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item {
  display: flex;

  @media screen and (min-width: 768px) {
width: calc((100% - 60px) / 3);
  }
  
  width: calc((100% - 30px) / 2);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--btnbgd-linkactive-color);
    .clients-icon {
      fill: var(--btnbgd-linkactive-color);
    }
  }
}

// .clients-item:hover .clients-icon,
// .clients-item:focus .clients-icon {
//   fill: var(--btnbgd-linkactive-color);
// }
