.clients {
  background-color: var(--herobtntext-primbgd-color);
}

.clients-title {
  font-weight: 700;
  text-align: center;
  @extend %section-title;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }

  margin-top: 0;
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.clients-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item {
  display: flex;

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
  }

  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--btnbgd-linkactive-color);
    .clients-icon {
      fill: var(--btnbgd-linkactive-color);
    }
  }
}
