.hero {
  background-color: var(--hero-footer-bgd-color);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
  }

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header-img1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header-img2x.jpg");
  }
}

.hero-title {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--herobtntext-primbgd-color);
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (max-width: 1199px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  height: 50px;
  padding: 10px 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--herobtntext-primbgd-color);
  background-color: var(--btnbgd-linkactive-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--btnhero-activebgd-color);
  }
}
