body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--herobtntext-primbgd-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  // box-sizing: border-box;
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  // outline: 1px solid tomato;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

   @media screen and (min-width: 768px) {
    width: 768px;
  }

   @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
 padding-top: 60px;
  padding-bottom: 60px;

  // padding-top: 94px;
  // padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}