%section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

%footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--herobtntext-primbgd-color);
  margin-top: 0;
  margin-bottom: 20px;
}

%button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--herobtntext-primbgd-color);

  background: var(--btnbgd-linkactive-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  cursor: pointer;
}

@mixin socialIconColor($backgroundColor, $fillColor) {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  fill: $fillColor;
}
