:root {
  --primary-text-color: #212121;
  --secondery-text-color: #757575;
  --herobtntext-primbgd-color: #ffffff;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);

  --hero-footer-bgd-color: #2f303a;
  --filter-btn-bgd-color: #f5f4fa;
  --btnbgd-linkactive-color: #2196f3;
  --btnhero-activebgd-color: #188ce8;
}